# Simulation artifacts
*.log
*.vcd
*.wlf
*.svf
*.sdb
transcript
vsim.wlf
modelsim.ini

# Tool-generated folders
work/
obj_dir/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
